extends layout

include mixins/pagination

block content
  .card
    .flex.flex-center
      h2.aubergine.m-v-md #{title}
      span.flex__grow 
      if user
        a(href=`${currentPath + '/new-post'}`) 
          span.button.button-primary New Post
    hr
    ul.m-t-md
      each p in posts
        li.flex.flex-center.p-b-sm
          span.flex__grow
            a(href=`/p/${p.slug}`).bold.underline--hover #{p.name}
            | &nbsp;
            span.gray by&nbsp; 
            span @#{p.author.username}
          span.ws-nowrap
            | 30&nbsp;
            span.gray //&nbsp;
            | #{p.created_date_formatted}
    .m-t-md
      +pagination(page, pages, count, 'posts')
