extends layout
include mixins/opengraph

block opengraph
  +opengraph({content: `See the latest posts on ${h.siteName}`, title: h.siteName})

block content
  .card
    .flex
      h2.aubergine.m-v-md Latest posts
    hr
    ul.m-t-md
      each p in posts
        li.flex.flex-center.p-b-sm
          span.flex__grow
            a(href=`/p/${p.slug}`).bold.underline--hover #{p.name}&nbsp;
            span.dark-gray.bold [#{p.board.name}]
          .ws-nowrap
            | @#{p.author.username} &nbsp;
            span.gray //&nbsp;
            | #{p.created_date_formatted}

  .card
    .flex
      h2.aubergine.m-v-md Boards
    hr
    ul.m-t-md
      each b in boards
        li.p-b-sm
          details
            summary
              a(href=`/b/${b.slug}`).underline--hover #{b.name}
            p.m-l-md.p-sm.background-aubergine #{b.description}

