extends layout

block content
  .card
    .flex
      h2.aubergine.m-v-md Latest posts
    hr
    ul.m-t-md
      each p in posts
        li.flex.flex-center.p-b-sm
          span.flex__grow
            a(href=`/p/${p.slug}`).bold.underline--hover #{p.name}&nbsp;
            span.dark-gray.bold [Category]
          .ws-nowrap
            @akts&nbsp;
            span.gray //&nbsp;
            | 12 Feb 2020

  .card
    .flex
      h2.aubergine.m-v-md Boards
    hr
    ul.m-t-md
      each b in boards
        li.p-b-sm
          details
            summary
              a(href=`/b/${b.slug}`).underline--hover #{b.name}
            p.m-l-md.p-sm.background-aubergine #{b.description}

