doctype html
html(lang='en')
  head
    title= `${title} | ${h.siteName}`
    meta(charset='UTF-8')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    link(rel='icon', type="image/x-icon", href="/favicon.ico")
    link(rel='stylesheet', href=`/stylesheets/style.css?_=${h.cacheBustId}`)

    block opengraph
  body
    nav
      .app.nav.flex.flex-center.p-v.sm
        span.flex__grow
          a(href='/').bold.aubergine.underline--hover #{h.siteName}
        span.ws-nowrap
          if user
            a(href=`/u/${user.username}`).nav__breadcrumb.underline--hover.m-l-md.ws-nowrap
              if (user.meta && user.meta.avatar)
                img(src=`${user.meta.avatar}` alt=`${user.username}'s avatar` class="avatar")
                span.p-r-xs
              |@#{user.username}

            if user.meta && user.meta.role == 'admin'
              a(href='/settings').nav__breadcrumb.underline--hover.m-l-md.ws-nowrap Settings

            a(href='/logout').nav__breadcrumb.underline--hover.m-l-md.ws-nowrap Log Out
          else
            a(href='/signup').nav__breadcrumb.underline--hover.m-l-md.ws-nowrap Sign Up
            a(href='/login').nav__breadcrumb.underline--hover.m-l-md.ws-nowrap Log In

    section.app.m-t-md
      block content
