extends layout

include mixins/pagination

block content
  .card
    .flex.flex-center
      h2.aubergine.m-v-md #{post.name}
      span.p-l-sm
        span.gray by&nbsp; 
        span @#{post.author.username}&nbsp;
        span.gray on&nbsp;
        span #{post.createdAtFormatted}
      span.flex__grow 
      if user
        a(href=`${currentPath + '/new-reply'}`) 
          span.button.button-primary New reply
    hr
    
    .m-t-md.m-b-xl
      .p-sm.ws-prewrap!= post.renderedContent
      if (user && user.id == post.author.id)
        .flex
          span.gray.font-small Last edited: #{post.updatedAtFormatted}
          span.flex__grow
          a(href=`${currentPath + '/edit'}`).aubergine.underline--hover Edit

      each reply, index in replies
        .m-t-md.p-sm.background-aubergine
          .flex.flex-center.border-bottom-sm.p-sm
            span.dark-gray ##{index + 1 + skip}
            span.flex__grow
            span
              span @#{reply.replied_by.username}&nbsp;
              span.dark-gray.font-small on&nbsp;
              span.font-small #{reply.createdAtFormatted}
          .p-sm.ws-prewrap.user-content #{reply.content}

      .m-t-md
        +pagination(page, pages, count, 'replies')
