extends layout

include mixins/pagination
include mixins/breadcrumb
include mixins/opengraph

block opengraph
  +opengraph({content: post.content, title: post.name})

block content
  +breadcrumb(breadcrumbData)
  .card
    .flex.flex-center
      h2.aubergine.m-v-md #{post.name}
      span.flex__grow 
      if user
        a(href=`${currentPath + '/new-reply'}`) 
          span.button.button-primary New reply
    .flex.flex-center.m-b-sm
      span
        span.gray by&nbsp; 
        a(href=`/u/${post.author.username}`).underline--hover
          if (post.author.avatar)
            img(src=`${post.author.avatar}` alt=`${post.author.username}'s avatar` class="avatar p-r-xs")
          |#{post.author.username}
        |&nbsp;
        span.gray.font-small on&nbsp;
        span.font-small #{post.createdAtFormatted}
    hr
    
    .m-t-md.m-b-xl
      .p-sm.user-post!= post.renderedContent
      if (user && user.id == post.author.id)
        .flex
          span.gray.font-small Last edited: #{post.updatedAtFormatted}
          span.flex__grow
          a(href=`${currentPath + '/edit'}`).aubergine.underline--hover Edit

      each reply, index in replies
        .m-t-md.p-sm.background-aubergine
          .flex.flex-center.border-bottom-sm.p-sm
            span.dark-gray ##{index + 1 + skip}
            span.flex__grow
            span
              a(href=`/u/${reply.replied_by.username}`).underline--hover 
                if (reply.replied_by.avatar)
                  img(src=`${reply.replied_by.avatar}` alt=`${reply.replied_by.username}'s avatar` class="avatar p-r-xs")
                |#{reply.replied_by.username}
              |&nbsp;
              span.dark-gray.font-small on&nbsp;
              span.font-small #{reply.createdAtFormatted}
          .p-sm.ws-prewrap.user-content #{reply.content}

      .m-t-md
        +pagination(page, pages, count, 'replies')
