extends layout

block content
  .card.center
    h1 #{title}

    if locals.flashes
      - const categories = Object.keys(locals.flashes)
      each category in categories
        each message in flashes[category]
          .staticFlash(class=`staticFlash--${category}`).center.m-v-lg.p-h-md.p-v-sm
            | #{message}

    form(action='/reset-password' method='post' autocomplete='off')
      input(
        type='email' name='email' 
        value=`${body.email}`
        ).d-none
      input(
        type='text' name='token' 
        value=`${body.token}`
        ).d-none
      .m-v-sm
        input(
          type='password' name='password' required='' 
          maxlength='255' autofocus='' placeholder='New password'
          value=`${(body && body.password) ? body.password : ''}`
          ).input-border.p-sm
      .m-v-sm
        input(
          type='password' name='confirm_password' required='' 
          maxlength='255' autofocus='' placeholder='Confirm password'
          value=`${(body && body.confirm_password) ? body.confirm_password : ''}`
          ).input-border.p-sm
      .m-v-md
        input(type='submit' value='Submit').button.button-primary
